body {
	padding-top: 60px;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.btn-purple {
	background-color: #553C7B;
	color: #FFF;
}
.btn-purple:hover {
	background-color: #553c7bb2;
	color: #FFF;
}


.text {
	color:#c5a526;
}

.code {
	color: #5cd36c;
}

.palabrasReservadas {
	color: #A569BD;
}